Learning/frontend/node_modules/
Learning/backend/node_modules/


Learning/frontend/dist/
Learning/backend/dist/
Learning/frontend/build/
Learning/backend/build/


Learning/frontend/.env
Learning/backend/.env

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

Learning/frontend/.vite/
Learning/backend/.vite/

*.tmp
